/* =====================================================================================
 *
 * Style: Stylesheet for HTML5.
 * 
 * A small stylesheet. It supports HTML5.
 *
 * Author: Mikael roos
 * 
 */
 
@import url("nav.css");   		/* definitions to nav-items */
 

/* -------------------------------------------------------------------------------------
 * Various wrappers *may* make the page look stylie and nice.
 * Review the page page.php for how they are used when constructing the HTML-page.
 */
div.wrapper-page {
	margin: 0 auto;
	min-width: 600px;
	max-width: 900px;
    vertical-align: middle;
}

div.wrapper-header {
	display: inline;
}

div.wrapper-body {
	border: solid 2px #dddddd;
	padding-left: 10px;
	padding-right: 10px;
}

div.wrapper-footer, div.wrapper-debug {
    vertical-align: middle;
}


/* -------------------------------------------------------------------------------------
/* Style the copyright-message, part of footer */
div.copyright pre { 
    text-align: center;
}


/* -------------------------------------------------------------------------------------
/* header & paragraph styles */
p.small {
	font-size: x-small;
}

p.intendent {
	padding-left: 2em;
}

div.revisionhistory {
	float: right;
	border-left: solid 1px #dddddd;
	padding-left: 1em;
	font-size: x-small;
}


/* -------------------------------------------------------------------------------------
/* numbering the headers h2-h4 */
h1 {
	counter-reset: header2, header3, header4;
}
h2.number:before { 
  counter-increment: header2; 
  content: counter(header2) ". "; 
} 

h2.number { 
  counter-reset: header3 header4; 
} 

h3.number:before { 
  counter-increment: header3; 
  content: counter(header2) "." counter(header3) ". "; 
} 

h3.number { 
  counter-reset: header4; 
} 

h4.number:before { 
  counter-increment: header4; 
  content: counter(header2) "." counter(header3) "." counter(header4) ". "; 
} 


/* -------------------------------------------------------------------------------------
/* Style for displaying lines of code */
div.code {
	font-family: monospace;
	border: solid 1px #999999;
	background: #eeeeee;
	padding: 1em;
}

/* -------------------------------------------------------------------------------------
/* Style for links */
a, a:visited {
	color: #111111;
}

a:hover {
	color: #365B17;
}


/* -------------------------------------------------------------------------------------
/* Clearer */
div.clear {
	height: 0;
	clear: both;
}
